{% load static %}

{% if entries.count == 0 %}
    <p>No entries.</p>
{% else %}

    <div class="table">

        <div class="table-row header-row">
            <div class="table-cell">Order</div>

            <div class="table-cell">System</div>

            <div class="table-cell">Name</div>

            {% if not author == False %}
                <div class="table-cell">Author</div>
            {% endif %}

            <div class="table-cell">Logical Lines</div>

        </div>

        {% for entry in entries %}
            <div class="table-row">

                <div class="table-cell">{{ entry.order }}</div>

                {% if entry.proofmodel %}
                    {% with proof=entry.proofmodel %}

                        <div class="table-cell">
                            <a href="{% url 'website:formal_system' proof.formal_system.id proof.formal_system.slug %}">{{ proof.formal_system.name }}</a>
                        </div>

                        <div class="table-cell">
                            <span class="indicator" data-indicator="{{ proof.proof.indicator }}" data-size="small"></span>
                            <a href="{% url 'website:proof' proof.id proof.slug %}">{{ proof.name }}</a>
                        </div>

                        {% if not author == False %}
                            <div class="table-cell">
                                <a href="{% url 'website:profile_view' proof.owner.id %}">{{ proof.owner.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell">{{ proof.proof.logical_lines }}</div>

                    {% endwith %}

                {% else %}
                    {% with folder=entry.prooffolder %}

                        <div class="table-cell">
                            <a href="{% url 'website:formal_system' folder.formal_system.id folder.formal_system.slug %}">{{ folder.formal_system.name }}</a>
                        </div>

                        <div class="table-cell">
                            <img class="folder" src="{% static 'website/images/folder.png' %}"/>
                            <a href="{% url 'website:folder' folder.id folder.slug %}">{{ folder.name }}</a>
                        </div>

                        {% if not author == False %}
                            <div class="table-cell">
                                <a href="{% url 'website:profile_view' folder.owner.id %}">{{ folder.owner.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell"></div>

                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endif %}