{% extends 'base.html' %}

{% load static %}


{% block main_content %}

    <p id="system_id" class="hidden">{{ system.id }}</p>
    <p id="folder_id" class="hidden">{{ folder.id }}</p>
    <p id="entry_id" class="hidden">{{ folder.folder_entry.id }}</p>

    <h2 style="margin-top: 0">
        <a href="{% url 'website:formal_system' system.id system.slug %}">{{ system.name }}</a> /
        {% include "website/folder_path.html" with edit_last=editable %}
    </h2>

    <p>Owner: <a href="{% url 'website:profile_view' folder.owner.id folder.owner.slug %}">{{ folder.owner.name }}</a></p>
    <br/>

    {% include 'website/folder_list.html' with system=False author=False entries=folder.entries.all %}

    {% if editable %}
        <div class="centered">
            <a href="{% url 'website:proof_create_in_folder' system.id system.slug folder.id %}"><div class="button">New Proof</div></a>
            <div id="create-folder" class="button">New Folder</div>

            {% if folder.publishable %}
                <div class="button publish-button">Publish</div>
            {% endif %}

            <a href="{% url 'website:folder_delete' folder.id folder.slug %}"><div class="button delete-button">Delete</div></a>
        </div>
    {% endif %}


{% endblock %}


{% block js %}
    <script src="{% static 'website/folder.js' %}"></script>
    <script src="{% static 'website/folder_list.js' %}"></script>
{% endblock %}


{% block modal %}
    {% include "website/create_folder_modal.html" %}

    <div id="confirm-publish-modal" class="modal-outer hidden">
        <div class="modal-inner" style="text-align: left;">
            <h3>Are you sure you want to publish?</h3>
            <p>You will not be able to edit or unpublish any proofs in this folder.</p>
            <div class="centered">
                <div class="button confirm-publish-button">Publish</div>
                <div class="button grey-button">Cancel</div>
            </div>
        </div>

    </div>
{% endblock %}

