{% load static %}
{% load humanize %}

{% if systems.count == 0 %}
    <p>None</p>
{% else %}
    <div class="table system-list-table">

        <div class="table-row header-row">

            <div class="table-cell" data-name="name">Name</div>

            {% if not owner == False %}
                <div class="table-cell" data-name="owner">Owner</div>
            {% endif %}

            <div class="table-cell" data-name="proofs">Proofs</div>

            <div class="table-cell" data-name="published">Published</div>

        </div>

        {% for system in systems %}

            <div class="table-row">

                <div class="table-cell" data-name="name">
                    <a href="{% url 'website:formal_system' system.id system.slug %}">{{ system.name }}</a>
                </div>

                {% if not owner == False %}
                    <div class="table-cell" data-name="owner">
                        <a href="{% url 'website:profile_view' system.owner.id system.owner.slug %}">{{ system.owner.name }}</a>
                    </div>
                {% endif %}

                <div class="table-cell" data-name="proofs">{{ system.proof_count }}</div>

                <div class="table-cell" data-name="published">
                    {% if system.published %}
                        <img class="tick" src="{% static 'website/images/tick.png' %}"/>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>

{% endif %}