{% extends 'base.html' %}

{% load static %}


{% block content %}

    <p id="system_id" class="hidden">{{ system.id }}</p>

    <h1>{{ system.name }}</h1>

    <a href="{% url 'website:formal_system' system.id system.slug %}">Back</a><br/>
    <a id="save">Save</a>

    <div id="ace-container">{{ system.code }}</div>



{% endblock %}


{% block js %}
    <script src="{% static 'website/ace/editors.js' %}"></script>
    <script src="{% static 'website/ace/src/ace.js' %}"></script>
    <script src="{% static 'website/formal_system_edit.js' %}"></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/formal_system_edit.css' %}">
    <link rel="stylesheet" href="{% static '/website/code_editor.css' %}">
{% endblock %}
