{% extends 'base.html' %}

{% load static %}


{% block content %}

    <h1>{{ system.name }}</h1>

    <a href="{% url 'website:formal_system_edit' system.slug %}">Edit</a>

    <h3>Test Formula</h3>
    <input type="text" class="pattern test-formula" data-id="{{ system.id }}"/>

    <p class="pattern test-formula-output" data-id="{{ system.id }}">...</p>


    <h2>Axioms</h2>

    {% for axiom in system.formal_system.axioms %}
        <p class="bold pattern">{{ axiom.name }}</p>

        {% include "website/pattern.html" with p=axiom %}

    {% endfor %}


    <h2>Inference Rules</h2>

    {% for rule in system.formal_system.inference_rules %}
        <h3>{{ rule.name }}</h3>

        {% if rule.antecedents %}
            <p class="bold pattern">Antecedents</p>
            <ol start="0">
            {% for ant in rule.antecedents %}
                <li>{% include "website/pattern.html" with p=ant %}</li>
            {% endfor %}
            </ol>

            <p class="bold pattern">Deduction</p>
            <div style="padding-left: 2rem">
                {% include "website/pattern.html" with p=rule.deduction %}
            </div>
        {% else %}
            {% include "website/pattern.html" with p=rule.deduction %}
        {% endif %}


        {% if rule.condition %}
            <p class="pattern">if {{ rule.condition.condition_match.string }}</p>
        {% endif %}

    {% endfor %}

{% endblock %}

{% block js %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

