{% extends 'base.html' %}

{% load static %}
{% load humanize %}


{% block main_content %}

    <p id="system_id" class="hidden">{{ system.id }}</p>

    <h1>{{ system.name }}</h1>

    {% if system.inherits_from %}
        <h2>Inheritance</h2>
        <p>This system inherits from <a href="{% url 'website:formal_system' system.inherits_from.id system.inherits_from.slug %}">{{ system.inherits_from.name }}</a>.</p>
    {% endif %}

    {% if system.inherited_by.all %}
        <h2>Sub Systems</h2>
        <p>The following systems inherit from {{ system.name }}.</p>
        <ul>
            {% for sub_system in system.inherited_by.all %}
                <li><a href="{% url 'website:formal_system' sub_system.id sub_system.slug %}">{{ sub_system.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Recently Published</h2>
    {% include 'website/folder_list.html' with system=False entries=entries %}


    {% if request.user.is_authenticated %}
        <h2>Your Proofs</h2>

        <h3>Published</h3>
        {% include 'website/folder_list.html' with author=False system=False entries=user_proofs_published %}

        <h3>Not Published</h3>
        {% include 'website/folder_list.html' with author=False editable=True system=False entries=user_proofs_not_published %}

        <div class="centered">
            <a href="{% url 'website:proof_create' system.id system.slug %}"><div class="button">New Proof</div></a>
            <div id="create-folder" class="button">New Folder</div>
        </div>
    {% endif %}

    {% if formula %}
        <h2>Formula</h2>
        {% include "website/pattern_structure.html" with p=formula %}
    {% endif %}

    <h2>Inference Rules</h2>

    {% for rule in system.formal_system.inference_rules %}
        <h3>{{ rule.name }} (<span class="pattern">{{ rule.label }}</span>)</h3>

        {% if rule.antecedents %}
            <p class="bold pattern">Antecedents</p>
            <ol start="0" style="font-family: monospace,monospace;">
            {% for ant in rule.antecedents %}
                <li>{% include "website/pattern.html" with p=ant %}</li>
            {% endfor %}
            </ol>

            <p class="bold pattern">Deduction</p>
            <div style="padding-left: 2rem">
                {% include "website/pattern.html" with p=rule.deduction %}
            </div>
        {% else %}
            {% include "website/pattern.html" with p=rule.deduction %}
        {% endif %}


        {% if rule.condition %}
            <p class="pattern">if {{ rule.condition.string }}</p>
        {% endif %}

    {% empty %}
        <p>No inference rules to show.</p>
    {% endfor %}

    <h2>Source Code</h2>

    <div class="centered">
        <a href="{% url 'website:formal_system_code' system.id system.slug %}"><div class="button">View</div></a>
        {% if request.user.is_authenticated and request.user.profile == system.owner and system.published == None %}
            <a href="{% url 'website:formal_system_edit' system.id system.slug %}">
                <div class="button">Edit</div>
            </a>
        {% endif %}
    </div>

    {% if request.user.is_authenticated and request.user.profile == system.owner and system.published == None %}
        <h2>Publish</h2>
        <p>Publish the system so that other users can use it to write proofs.</p>
        <div class="centered">
            <div class="button publish-button">Publish</div>
        </div>
    {% endif %}

    {% if not system.published == None %}
        <p style="margin-top: 4rem;">Published {{ system.published|naturaltime }}.</p>
    {% endif %}



{% endblock %}


{% block js %}
    <script src="{% static 'website/formal_system.js' %}"></script>
    <script src="{% static 'website/folder.js' %}"></script>
    <script src="{% static 'website/folder_list.js' %}"></script>
{% endblock %}


{% block modal %}
    {% include "website/create_folder_modal.html" %}

    <div id="confirm-publish-modal" class="modal-outer hidden">
        <div class="modal-inner" style="text-align: left;">
            <h3>Are you sure you want to publish?</h3>
            <p>You will not be able to edit the source code for this system.</p>
            <div class="centered">
                <div class="button confirm-publish-button">Publish</div>
                <div class="button grey-button">Cancel</div>
            </div>
        </div>

    </div>
{% endblock %}

