
{% block pattern %}

    {% if p.display_pattern %}
        <p class="pattern">{{ p.display_pattern }}</p>
    {% else %}
        <p class="bold pattern">{{ p.name }}</p>
    {% endif %}

    {% if p.display_variables %}
        <p class="pattern">with
            {% for subpattern, var_list in p.reverse_display_variables.items %}
                {{ var_list|join:", " }} as <strong>{{ subpattern.name }}</strong>{% if not forloop.last %},{% else %}.{% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% if p.condition %}
        <p class="pattern">if {{ p.condition.condition_match.string }}</p>
    {% endif %}

{% endblock %}