{% extends 'base.html' %}

{% load static %}
{% load humanize %}



{% block main_content %}

    <h1>{{ profile.name }}</h1>

    <h2>Proofs</h2>

    {% for system_entry in system_list %}
        {% with system=system_entry.system entries=system_entry.entries %}
            {% if entries.count > 0 %}
                <a href="{% url 'website:formal_system' system.id system.slug %}"><h3>{{ system.name }}</h3></a>
                {% include 'website/folder_list.html' with author=False editable=True system=False %}
            {% endif %}
        {% endwith %}
    {% endfor %}

    <br/>

    <p>Joined on {{ profile.created|date:"jS F Y" }}.</p>
    <p>Last login {{ profile.user.last_login|naturaltime }}.</p>

{% endblock %}

{% block js %}
    <script src="{% static 'website/folder_list.js' %}"></script>
{% endblock %}


