{% extends 'base.html' %}

{% load static %}


{% block main_content %}
    <p id="proof_id" class="hidden">{{ proof.id }}</p>
    <p id="system_id" class="hidden">{{ system.id }}</p>

    <h3 style="margin: 1rem 0;">
        <a href="{% url 'website:formal_system' system.id system.slug %}">{{ system.name }}</a> /
        {% if proof.parent_folder %}
            {% include "website/folder_path.html" with include_link=True folder=proof.parent_folder %} /
        {% endif %}
        <a href="{% url 'website:proof' proof.id proof.slug %}">{{ proof.name }}</a>
    </h3>

    {% if editable %}
        <div class="top-right">
            <a id="save">
                <div class="button disabled">Save</div>
            </a>
        </div>
    {% endif %}

    <div class="mathjax_ignore">
        <div id="ace-container"{% if not editable %} class="uneditable"{% endif %}>{{ proof.code }}</div><!--
        --><div id="output-wrapper"><div id="compile-button" class="hidden"><div class="button">Compile</div></div><div id="output" class="proof-display"></div></div>
    </div>

    {{ proof.proof.data|json_script:"proof_data" }}
    {{ root_autocomplete|json_script:"root_autocomplete" }}

{% endblock %}


{% block js %}
    <script src="{% static 'website/ace/editors.js' %}"></script>
    <script src="{% static 'website/ace/src/ace.js' %}"></script>
    <script src="{% static 'website/proof_display.js' %}"></script>
    <script src="{% static 'website/proof_edit.js' %}"></script>

    <script src="{% static 'website/ace/src/ext-language_tools.js' %}"></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/code_editor.css' %}">
    <link rel="stylesheet" href="{% static '/website/proof_edit.css' %}">
{% endblock %}
