{% extends 'base.html' %}

{% load static %}


{% block main_content %}

    <p id="system_id" class="hidden">{{ system.id }}</p>

    <h2 style="margin-top: 0"><a href="{% url 'website:formal_system' system.id system.slug %}">{{ system.name }}</a> / Create Proof</h2>

    <div class="centered">
        <input name="name" type="text" placeholder="Proof name"/>

        <textarea placeholder="Description" rows="5"></textarea>

        <br/>
        <a id="save">
            <div class="button">Save</div>
        </a>
    </div>




{% endblock %}


{% block js %}
    <script src="{% static 'website/proof_create.js' %}"></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/proof_create.css' %}">
{% endblock %}
