{% extends 'base.html' %}

{% load static %}


{% block content %}

    <h1>{{ system.name }} Proof Editor</h1>

    <div id="ace-container"></div><div id="output" class="mathjax_process"></div>

{% endblock %}


{% block js %}
    <script src="{% static 'website/ace/editors.js' %}"></script>
    <script src="{% static 'website/ace/src/ace.js' %}"></script>
    <script src="{% static 'website/proof_editor.js' %}"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/proof_editor.css' %}">
{% endblock %}
