{% extends 'base.html' %}

{% load static %}


{% block content %}

    <h1>{{ proof.name }}</h1>

    <a href="{% url 'website:formal_system' system.id system.slug %}">Back</a><br/>
    <a href="{% url 'website:proof_edit' proof.id proof.slug %}">Edit</a>


    <h2>Proof</h2>

    <div id="output" class="proof-display">{{ proof.code }}</div>

    {{ proof.proof.validation_data|json_script:"validation" }}

{% endblock %}

{% block js %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script src="{% static 'website/proof_display.js' %}"></script>
    <script src="{% static 'website/proof.js' %}"></script>

{% endblock %}

