
{% if proofs.count == 0 %}
    <p>No proofs.</p>
{% else %}

    <div class="table">

        <div class="table-row header-row">

            {% if not system == False %}
                <div class="table-cell">System</div>
            {% endif %}

            <div class="table-cell">Proof</div>
            <div class="table-cell">Status</div>

            {% if not author == False %}
                <div class="table-cell">Author</div>
            {% endif %}

            <div class="table-cell">Logical Lines</div>

            <div class="table-cell">References</div>

            <div class="table-cell">Nested References</div>

        </div>

        {% for proof in proofs %}
            <div class="table-row">

                {% if not system == False %}
                    <div class="table-cell">
                        <a href="{% url 'website:formal_system' proof.formal_system.id proof.formal_system.slug %}">{{ proof.formal_system.name }}</a>
                    </div>
                {% endif %}

                <div class="table-cell">
                    <span class="indicator" data-indicator="{{ proof.proof.indicator }}" data-size="small"></span>
                    <a href="{% url 'website:proof' proof.id proof.slug %}">{{ proof.name }}</a>
                </div>

                <div class="table-cell">
                    {% if proof.published %}
                        Published
                    {% else %}
                        {% if proof.proof.indicator == "ok" %}
                            Valid
                        {% else %}
                            Invalid
                        {% endif %}
                    {% endif %}
                </div>

                {% if not author == False %}
                    <div class="table-cell">
                        <a href="{% url 'website:profile_view' proof.owner.id %}">{{ proof.owner.name }}</a>
                    </div>
                {% endif %}

                <div class="table-cell">{{ proof.proof.logical_lines }}</div>

            </div>
        {% endfor %}
    </div>

{% endif %}