{% extends 'base.html' %}

{% load static %}


{% block content %}

    <p id="system_id" class="hidden">{{ system.id }}</p>

    <h1>Create a Proof in {{ system.name }}</h1>

    <a href="{% url 'website:index' %}">Back</a><br/>
    <a id="save">Save</a>

    <input name="name" type="text" placeholder="Name"/>

    <div id="ace-container"></div>



{% endblock %}


{% block js %}
    <script src="{% static 'website/ace/editors.js' %}"></script>
    <script src="{% static 'website/ace/src/ace.js' %}"></script>
    <script src="{% static 'website/proof_create.js' %}"></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/code_editor.css' %}">
{% endblock %}
