
div#ace-container, div#output {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

div#output {
    overflow: scroll;
    position: relative;
}

div#output.updating {
    /*background-color: #DDD; */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


h3 {
    padding-left: 2rem;
}

/* Update the page-content size */
div#page-content {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
}

div#compile-button {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

div#compile-button > div {
    margin: 0;
}