html, body, div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.hidden {
    display: none;
}

.pattern {
    font-family: monospace;
}
.bold {
    font-weight: bold;
}