html, body, div {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.hidden {
    display: none;
}

.pattern {
    font-family: monospace;
}
.bold {
    font-weight: bold;
}

.allow-wrap {
    white-space: normal;
}

/* Table classes */
table {
    border-spacing: 0;
}
td {
    vertical-align: top;
    padding: 0 2rem 0 0.5rem;
    white-space: pre;
}

td.indicator {
    padding: 0 0.2rem;
}

td.line-number {
    text-align: right;
    background-color: #CCC;
    padding: 0 0.5rem 0 1rem;
}

/* Proof display */
div.proof-display {
    white-space: pre-wrap;
    font-family: monospace;
}