
div.table {
    display: table;
    font-size: 0.8rem;
    width: 100%;
}

div.table-row {
    display: table-row;
}

div.table-row.header-row {
    background-color: #DDD;
}

div.table-row:not(.header-row):hover {
    background-color: #EEE;
}

div.table-cell {
    display: table-cell;
    padding: 0.5rem 0.8rem;
}

div.table-cell img.folder {
    height: 1rem;
    vertical-align: top;
}

div.table-cell span.move-arrow {
    cursor: pointer;
}

div.table-cell span.hide {
    visibility: hidden;
}