{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

{% comment %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
{% endcomment %}

<div class="socialaccount_ballot">

  {% comment %}
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  {% endcomment %}

  <p>Please sign in with one of the options below or <a href="{{ signup_url }}">sign up</a>.</p>
  <div class="centered">
    <a href="/accounts/google/login?process=login">
      <div class="google-signin-container">
          <img class="main" src="{% static 'website/images/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png' %}"/>
          <img class="focus" src="{% static 'website/images/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png' %}"/>
          <img class="pressed" src="{% static 'website/images/google_signin_buttons/web/2x/btn_google_signin_light_pressed_web@2x.png' %}"/>
      </div>
    </a>

    <div class="login-or">{% trans 'or' %}</div>
  </div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="centered">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="centered">
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button><br/>
      </div>

    </form><br/>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</div>

{% endblock %}
