<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8"/>

        {% block meta %}
        {% endblock %}

        <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>

        <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <!--<link rel="shortcut icon" type="image/png" href="{% static '/website/images/favicon.ico' %}"/>-->
        <link rel="stylesheet" href="{% static '/website/styles.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'website/base.js' %}"></script>
        <script src="{% static 'website/user_menu.js' %}"></script>
        <script src="{% static 'website/messages.js' %}"></script>
        <script src="{% static 'website/edits.js' %}"></script>
        <script src="{% static 'website/textareas.js' %}"></script>

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}

        <title>{{ title }}</title>

    </head>

    <body>

        <div id="is-mobile"></div>

        <div id="page-content">
            {% block main_content %}
            {% endblock %}
        </div>

        <div id="page-header">
            <div id="page-header-inner">
                <a href="{% url 'website:index' %}">
                    <img class="home-icon" src="{% static '/website/images/home.png' %}"/>
                </a>
                {% if request.user.is_authenticated %}
                    <div class="user-menu-toggle">
                        <img src="{{ request.user.profile.photo_url }}"/>
                        <span>{{ request.user.profile.name }} &#9662;</span>
                    </div><br/>
                    <div id="user-menu" class="hidden">
                        <a href="{% url 'website:profile_view' request.user.profile.id request.user.profile.slug %}">Profile</a>
                        <a href="{% url 'website:settings' %}">Settings</a>
                        <a href="{% url 'account_logout' %}">Sign Out</a>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}">Sign In</a>
                {% endif %}
            </div>
        </div>


        <div class="messages-container">
            {% for message in messages %}
                <div class="message-container">
                    <div class="message">
                        <span>{{ message }}</span>
                        <span class="close-cross">&#x2715;</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% block modal %}
        {% endblock %}

    </body>


</html>
