
{% load static %}

<span class="editable-container">
    <span class="editable-value">{{ value|default_if_none:"" }}</span>

    {% if editable %}
        {% if inputtype == "textarea" %}
            <textarea class="txta editable-text{% if value %} hidden{% endif %}" placeholder="{{ placeholder }}" data-obj="{{ table }}_{{ target.id }}" data-field="{{ field }}">{{ value }}</textarea>
        {% else %}
            <input type="text" class="editable-text{% if value %} hidden{% endif %}" placeholder="{{ placeholder }}" value="{{ value }}" data-obj="{{ table }}_{{ target.id }}" data-field="{{ field }}"/>
        {% endif %}
        <img src="{% static 'website/images/edit.png' %}" class="edit-text"/>
    {% endif %}

</span>