{% load static %}
{% load humanize %}

{% if entries.count == 0 %}
    <div class="note">
        <div class="centered">
            <p>No proofs.</p>
        </div>
    </div>
{% else %}
    <div class="table folder-list-table" data-editable="{{ editable|lower }}">

        <div class="table-row header-row">

            {% if system %}
                <div class="table-cell" data-name="system">System</div>
            {% endif %}

            <div class="table-cell" data-name="name">Name</div>

            {% if not author == False %}
                <div class="table-cell" data-name="author">Author</div>
            {% endif %}

            <div class="table-cell" data-name="logical-lines">Logical Lines</div>

            {% if not published == False %}
                <div class="table-cell" data-name="published">Published</div>
            {% endif %}

            <div class="table-cell" data-name="order">Order</div>

        </div>

        {% for entry in entries %}
            {% if entry.item.model_name == "ProofModel" %}
                {% with proof=entry.item %}

                    <div class="table-row" data-id="{{ entry.id }}" data-type="proof" data-depth="0">

                        {% if system %}
                            <div class="table-cell" data-name="system">
                                <a href="{% url 'website:formal_system' proof.formal_system.id proof.formal_system.slug %}">{{ proof.formal_system.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="name">
                            <span class="indicator" data-indicator="{{ proof.proof.indicator }}" data-size="small"></span>
                            <a href="{% url 'website:proof' proof.id proof.slug %}">{{ proof.name }}</a>
                        </div>

                        {% if not author == False %}
                            <div class="table-cell" data-name="author">
                                <a href="{% url 'website:profile_view' proof.owner.id proof.owner.slug %}">{{ proof.owner.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="logical-lines">{{ proof.proof.logical_lines }}</div>

                        {% if not published == False %}
                            <div class="table-cell" data-name="published">
                                {% if entry.published %}
                                    {{ entry.published.published|naturaltime }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="order">{{ entry.order }}</div>

                    </div>

                {% endwith %}

            {% else %}
                {% with folder=entry.item %}

                    <div class="table-row" data-id="{{ entry.id }}" data-type="folder" data-depth="0" data-empty="{% if folder.entries.count == 0 %}true{% else %}false{% endif %}">

                        {% if system %}
                            <div class="table-cell" data-name="system">
                                <a href="{% url 'website:formal_system' folder.formal_system.id folder.formal_system.slug %}">{{ folder.formal_system.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="name">
                            <img class="folder" src="{% static 'website/images/folder.png' %}"/>
                            <a href="{% url 'website:folder' folder.id folder.slug %}">{{ folder.name }}</a>
                            <span class="expand-folder{% if folder.entries.count == 0 %} hidden{% endif %}">&#9662;</span>
                        </div>

                        {% if not author == False %}
                            <div class="table-cell" data-name="author">
                                <a href="{% url 'website:profile_view' folder.owner.id folder.owner.slug %}">{{ folder.owner.name }}</a>
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="logical-lines"></div>

                        {% if not published == False %}
                            <div class="table-cell" data-name="published">
                                {% if entry.published %}
                                    {{ entry.published.published|naturaltime }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="table-cell" data-name="order">{{ entry.order }}</div>

                    </div>
                {% endwith %}
            {% endif %}

        {% endfor %}
    </div>

{% endif %}