{% extends 'base.html' %}

{% load static %}


{% block main_content %}

    <h2 style="margin-top: 0">Create a Formal System</h2>

    <div class="centered">
        <input name="name" type="text" placeholder="System Name"/>

        <textarea placeholder="Description" rows="5"></textarea>

        <br/>
        <a id="save">
            <div class="button">Save</div>
        </a>
    </div>



{% endblock %}


{% block js %}
    <!--<script src="{% static 'website/ace/editors.js' %}"></script>
    <script src="{% static 'website/ace/src/ace.js' %}"></script>-->
    <script src="{% static 'website/formal_system_create.js' %}"></script>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/website/formal_system_create.css' %}">
    <!--<link rel="stylesheet" href="{% static '/website/code_editor.css' %}">-->
{% endblock %}
