{% extends 'base.html' %}

{% load static %}


{% block js %}
    {% if request.user.is_superuser %}
        <script src="{% static 'website/admin.js' %}"></script>
    {% endif %}
{% endblock %}


{% block main_content %}

    <h1>Settings</h1>

    <h2>Account Settings</h2>

    <h3>Password</h3>
    <div class="centered">
        <a href="{% url 'account_change_password' %}"><div class="button">Change Password</div></a>
    </div>

    <h3>Third Party Login Connections</h3>
    <div class="centered">
        <a href="{% url 'socialaccount_connections' %}"><div class="button">Connections</div></a>
    </div>

    {% if request.user.is_superuser %}
        <h2>Admin</h2>

        <div class="note">
            <p>Some special admin buttons here. Use carefully!</p>
        </div>

        <h3>Refresh Proofs</h3>
        <p>Refresh all the proofs in the database. Note this does not refresh formal systems.</p>
        <div class="centered">
            <div id="refresh-proofs" class="button">Refresh Proofs</div>
        </div>

    {% endif %}


{% endblock %}


